{% extends 'base_layout.html.twig' %}

{% block title %}{{ parent() }} - Ajouter un employé{% endblock %}

{% block body %}
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                    <h2>Ajouter un employé</h2>
                    </div>
                </div>
                <!-- /. ROW  -->
                <hr />

            <div class="row">
                <div class="col-md-12">
                    {{ form_start(form) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.age) }}
                    {{ form_row(form.job) }}
                    {{ form_row(form.phone) }}
                    <h3>Localisation</h3>
                    {% set environment = form.environment %}
                    {{ form_row(environment.building) }}
                    {{ form_row(environment.postalCode) }}
                    {{ form_row(environment.deskroom) }}
                    {{ form_row(form.skills) }}
                    <ul class="skills" data-prototype-skill="{{ form_widget(form.skills.vars.prototype) }}"></ul>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
{% endblock %}

{% block javascripts %}
<script>
    var $collectionHolder;

    // setup an "add a tag" link
    var $addTagLink = $('<a href="#" class="add_tag_link">Ajouter une compétence</a>');
    var $newLinkLi = $('<li></li>').append($addTagLink);

    $(document).ready(function() {
        // Get the ul that holds the collection of tags
        $collectionHolder = $('ul.skills');

        //Initialize new skill by default

        addTagForm($collectionHolder, $newLinkLi);
        
        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addTagLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addTagForm($collectionHolder, $newLinkLi);
        });
    });

    function addTagForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype-skill');

        // get the new index
        var index = $collectionHolder.data('index');

        var newForm = prototype;
        console.log(prototype);
        // You need this only if you didn't set 'label' => false in your tags field in TaskType
        // Replace '__name__label__' in the prototype's HTML to
        // instead be a number based on how many items we have
        // newForm = newForm.replace(/__name__label__/g, index);

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        newForm = newForm.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<input type="text"></input>').append(newForm);
        //var $newFormLi = $('<li></li>').append(newForm);
        $('ul.skills').append($newFormLi);
        /*
        let addTagForm = $('.add_tag_link').clone();
        $('.add_tag_link').remove();
        $('ul.skills').append(addTagForm);
        */
    }
</script>
{% endblock %}