<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employé - Login</title>
	<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
        <!-- FONTAWESOME STYLES-->
        <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" />
        <!-- MORRIS CHART STYLES-->

            <!-- CUSTOM STYLES-->
        <link href="{{ asset('css/custom.css') }}" rel="stylesheet" />
        <!-- GOOGLE FONTS-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
        <!-- TABLE STYLES-->
        <link href="{{ asset('js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <div class="row text-center ">
            <div class="col-md-12">
                <br /><br />
                <h2>Authentification</h2>
               
                <h5>Enregistrer-vous pour accéder à l'annuaire des employés</h5>
                 <br />
            </div>
        </div>
         <div class="row ">
               
                  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                        <strong>   Enter Details To Login </strong>  
                            </div>
                            <div class="panel-body">
                                {% if error %}
                                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                <form action="{{ path('login') }}" method="post">
                                    <label for="username">Username:</label>
                                    <input type="text" id="username" name="_username" value="{{ last_username }}" />

                                    <label for="password">Password:</label>
                                    <input type="password" id="password" name="_password" />

                                    <input type="hidden" name="_target_path" value="/list" />
                                    

                                    <button type="submit">login</button>
                                </form>
                            </div>
                           
                        </div>
                    </div>
                
                
        </div>
    </div>


    <script
		    src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
        <!-- BOOTSTRAP SCRIPTS -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <!-- METISMENU SCRIPTS -->
        <script src="{{ asset('js/jquery.metisMenu.js')}}"></script>
   
</body>
</html>
